.about_us_section {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  position: relative;
}
.header_about {
  text-align: center;
  padding: 20px;
  font-size: 4vw;
  z-index: 2;
  top: 5%;
}
.cont {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* height: 70vh; */
  width: 80%;
  top: 15%;
  margin: 0 auto;
  z-index: index 2;
}
.data {
  font-size: 1.5vw;
  padding: 20px;
  width: 40%;
  z-index: 2;
}
.data p a {
  color: rgb(168, 86, 177);
}
.data p {
  margin: 10px 0;
  padding: 10px;
  border-bottom: 1px solid rgba(151, 149, 149, 0.642);
}
.description {
  font-size: 1.5vw;
  line-height: 1.7;
  width: 80%;
  z-index: 2;
}
.background_for_about {
  font-size: 9vw;
  text-align: center;
  padding: 20px;
  position: absolute;
  /* top: 5%; */
  left: 0;
  right: 0;
  width: 100%;
  margin-top: 0;
}
.about_us_section::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  backdrop-filter: blur(5px);
}

.header_about,
.cont,
.data,
.description_text,
.rate {
  position: relative;
  z-index: 2;
}
/* hr{
  border: none;
  border-top: 1px solid rgba(151, 149, 149, 0.642);
  margin: 20px 0;
} */
h1 span {
  color: rgb(168, 86, 177);
}
