.home {
  background-image: url("../images/photo_2025-08-10_12-46-42.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}
.home::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
  backdrop-filter: blur(8px);
}

/*///////////////////////////// header //////////////////////////////*/
.homeheader {
  padding: 10px;
  width: 100%;
  height: 9vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  z-index: 10000;
  top: 0;
}
.homeheader .links {
  display: flex;
  list-style: none;
  gap: 5%;
  font-size: 1.3vw;
  z-index: 2;
  flex-grow: 1;
}
.homeheader .links a:hover {
  color: rgb(209, 124, 222);
  border-bottom: 1px solid rgb(209, 124, 222);
}
.homeheader p {
  font-size: 3.5vw;
  padding-left: 2%;
  z-index: 2;
  flex-grow: 1;
}

.homeheader .icons {
  display: flex;
  list-style: none;
  gap: 10%;
  z-index: 2;
  font-size: 2.2vw;
  flex-grow: 0.5;
  position: relative;
  left: 5%;
}
.fa-solid.fa-code:hover {
  color: rgb(209, 124, 222);
}

.fa.fa-bars {
  display: none;
}
a {
  text-decoration: none;
  color: white;
}
a i:hover {
  color: rgb(209, 124, 222);
}
/*/////////////////////////////// body of home /////////////////////////*/
.home_section {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 2;
  gap: 30px;
  transform: translate(0, 100%);
}
.home_section h1 {
  font-size: 3vw;
}
.moved_pragraph {
  font-size: 4vw;
  height: 40px;
  margin-bottom: 10px;
}
.static_pragraph {
  font-size: 1.5vw;
}
.hire_me {
  box-shadow: 1px 1px 15px 3px rgb(118, 69, 123) inset,
    1px 1px 35px 3px rgb(249, 166, 254) inset,
    1px 1px 15px 3px rgb(191, 89, 202);
  padding: 10px 20px;
  border-radius: 20px;
  transition: all 0.3s ease;
}
.hire_me:hover {
  transform: scale(1.1);
}
.midarrow {
  position: absolute;
  bottom: 4vh;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  color: white;
  z-index: 100;
}
.midarrow span {
  display: block;
  width: 15px;
  height: 15px;
  background-color: transparent;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  margin: 2px 0;
  animation: downArrow 1.5s infinite;
}
@keyframes downArrow {
  0% {
    transform: translateY(0) rotate(45deg);
  }
  50% {
    transform: translateY(5px) rotate(45deg);
  }
  100% {
    transform: translateY(0) rotate(45deg);
  }
}

.leftArrow {
  position: absolute;
  top: 50%;
  left: 10vh;
  transform: translateY(-50%);
  font-size: 2rem;
  color: white;
  z-index: 100;
}
.rightArrow {
  position: absolute;
  top: 50%;
  right: 10vh;
  transform: translateY(-50%);
  font-size: 2rem;
  color: white;
  z-index: 100;
}

.leftArrow span,
.rightArrow span {
  display: block;
  width: 25px;
  height: 25px;
  background-color: transparent;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  margin: 2px 0;
  transform: rotate(45deg);
  animation: sideArrow 0.5s infinite;
  animation-direction: alternate;
  opacity: 1;
}
.leftArrow .one,
.rightArrow .one {
  animation-delay: 0s;
}
.leftArrow .two,
.rightArrow .two {
  animation-delay: 0.2s;
}
.leftArrow .three,
.rightArrow .three {
  animation-delay: 0.4s;
}
@keyframes sideArrow {
  to {
    transform: translateY(5px) rotate(45deg);
    opacity: 0.4;
  }
}
/*/////////////////////////////////////// 480 //////////////////////////////*/
@media (max-width: 480px) {
  .homeheader {
    position: fixed;
    z-index: 300;
  }
  .homeheader p {
    font-size: 8vw;
    margin-right: 20px;
    margin-left: 5px;
  }
  .homeheader .icons li i {
    font-size: 7vw; 
  }
  .homeheader .links {
    display: none;
    position: absolute;
    top: 80%;
    color: white;
    background-color: rgb(0, 0, 0);
    padding: 10px;
    width: 100%;
    z-index: 10001;
    flex-direction: column;
  }
  .links li {
    padding: 5px 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  .links li a {
    font-size: 5vw;
  }
  .links li:last-child {
    border-bottom: none;
    margin-bottom: 0;
  }
  .fa.fa-bars {
    display: block;
  }
  .fa.fa-bars:hover {
    color: rgb(209, 124, 222);
  }
  .home_section h1 {
    font-size: 8vw;
  }
  .moved_pragraph {
    font-size: 9vw;
  }
  .static_pragraph {
    font-size: 5vw;
  }
  .home_section {
    position: relative;
    transform: translateY(120%);
  }
  .leftArrow {
    left: 20px;
  }
  .rightArrow {
    right: 20px;
  }
  .leftArrow span,
  .rightArrow span {
    width: 15px;
    height: 15px;
  }
  .midarrow span {
    width: 10px;
    height: 10px;
  }
}
