.home {
  background-image: url("../images/photo_2025-08-10_12-46-42.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}
.home::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
  backdrop-filter: blur(8px);
}

/* header */
.header {
  padding: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content:space-around;
  z-index: 2;
}
.links a:hover {
  color: rgb(209, 124, 222);
  border-bottom: 1px solid rgb(209, 124, 222);
}
a {
  text-decoration: none;
  color: white;
}
.header p {
  font-size: 3.5vw;
  padding-left: 2%;
  z-index: 2;
  flex-grow: 1;
}
.fa-solid.fa-code:hover {
  color: rgb(209, 124, 222);
}
.links {
  display: flex;
  list-style: none;
  gap: 5%;
  font-size: 1.3vw;
  z-index: 2;
  flex-grow: 1;
}
.icons {
  display: flex;
  list-style: none;
  gap: 20%;
  z-index: 2;
  font-size: 2.5vw;
  flex-grow:0.5;
}
a i:hover {
  color: rgb(209, 124, 222);
}
/* body of home */
.home_section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 2;
  gap: 30px;
}
.home_section h1 {
  font-size: 3vw;
}
.moved_pragraph {
  font-size: 4vw;
}
.static_pragraph {
  font-size: 1.5vw;
}
.hire_me {
  background-color: rgb(156, 98, 210, 0.5);
  padding: 10px 20px;
  border-radius: 20px;
}
@media (max-width:480px) {
  .header p{
    font-size: 8vw;
  }
  .home_section h1 {
  font-size: 8vw;
}
.moved_pragraph {
  font-size: 9vw;
}
.static_pragraph {
  font-size: 5vw;
}
.links{ 
 display: none;
}
.icons{ font-size: 7vw;}
.home_section{
  position: absolute;
  bottom: 2%;
}


}