.WorkBox {
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: auto;
  color: white;
  position: relative;
}
.background_for_work {
  font-size: 9vw;
  position: relative;
  text-align: center;
  padding: 2% 0;
  z-index: 1;
}
.WorkBox::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
  backdrop-filter: blur(3px);
}
.WorkBox .header,
.WorkBox .work {
  position: relative;
  z-index: 3;
}
.WorkBox .header {
  font-size: 5vw;
  position: relative;
  text-align: center;
  bottom: 20vh;
}

.work {
  position: relative;
  bottom: 10vh;
  width: 100%;
  padding: 5vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10vh;
}
.work img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
}
.work1,
.work2,
.work3 {
  width: 400px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 3px 3px 15px 2px rgb(205, 114, 215);
  position: relative;
}
.work1:hover,
.work2:hover,
.work3:hover {
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.onPhoto {
  display: none;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 3vw;
  cursor: pointer;
}
.work1:hover .onPhoto,
.work2:hover .onPhoto,
.work3:hover .onPhoto {
  display: block;
}
.work1:hover img,
.work2:hover img,
.work3:hover img {
  filter: brightness(0.5);
}
#desc1,
#desc2,
#desc3 {
  display: none;
}
#link1,
#link2,
#link3 {
  display: none;
}
#githubLink {
  text-decoration: none;
  font-size: 20px;
  transition: all 0.3s ease;
}
#githubLink:hover {
  background-color: rgba(244, 127, 203, 0.6);
  border-radius: 20px;
  padding: 10px;
  text-align: center;
}
.modal {
  display: none;
  position: fixed;
  z-index: 100000000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  height: 90vh;
  background-color: rgba(0, 0, 0, 0.9);
  box-shadow: 1px 1px 5px rgb(244, 127, 203);
  border-radius: 20px;
}
.modal span {
  font-size: 50px;
  color: white;
  position: absolute;
  top: 20px;
  right: 30px;
  cursor: pointer;
  z-index: 1001;
}
.modal img {
  width: 80vh;
  height: 60vh;
  border-radius: 20px;
  object-fit: cover;
  margin: 40px;
  box-shadow: 1px 1px 5px rgb(244, 127, 203);
}
.modal h1 {
  color: white;
  font-size: 60px;
  margin: 40px 0 0 0;
  text-align: center;
}
.modal .modalContainer h1 {
  color: white;
  font-size: 40px;
  margin: 50px 0 0 0;
  text-align: center;
}
.modal .modalContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  bottom: 50px;
  height: 100%;
}
.modal p {
  color: white;
  font-size: 25px;
  margin: 30px;
  line-height: 2;
}
.modal .right {
  padding: 20px;
  text-align: center;
  height: 80%;
}
.modal .desc {
  padding: 20px;
  text-align: center;
}
.modal .modalContainer .right ul {
  list-style: none;
  display: flex;
  padding: 20px;
  justify-content: center;
}
.modal .modalContainer .right ul li i {
  margin-right: 20px;
  color: white;
  font-size: 35px;
}
.modal .modalContainer .right ul li:hover i {
  color: rgb(180, 87, 148);
  transform: scale(1.2);
  transition: all 0.5s ease;
}

@media (max-width: 480px) {
  .work {
    flex-direction: column;
    gap: 7vh;
    margin-top: 10vh;
    position: relative;
  }
  .work1,
  .work2,
  .work3 {
    height: 40vw;
    min-height: 120px;
    width: 85vw;
    max-width: 100%;
  }
  .background_for_work {
    font-size: 18vw;
    top: 5vh;
  }
  .modal {
    overflow-y: auto;
    overflow-x: hidden;
  }
  .WorkBox .header {
    font-size: 15vw;
    bottom: 5vh;
  }
  .modal .modalContainer .right ul li a i {
    font-size: 30px;
    margin: 0 10px;
  }
  .modal .modalContainer .left img {
    width: 40vh;
    height: 200px;
    border-radius: 20px;
    object-fit: cover;
    margin-top: 10vh;
    box-shadow: 1px 1px 5px rgb(244, 127, 203);
  }
  .modal .modalContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    bottom: 20px;
  }
  .modal span {
    font-size: 2vw;
  }
  .modal .modalContainer .right h1 {
    display: none;
  }
  .modal .modalContainer .right {
    height: auto;
    position: relative;
    bottom: 10vh;
  }
  #modalTitle {
    font-size: 10vw;
    margin: 20px 0 0 0;
    text-align: center;
  }
  .modal .container .left {
    margin: 0 auto;
  }
  #description {
    font-size: 5vw;
    margin: 20px;
    line-height: 1.5;
    text-align: center;
  }
  #closeModal {
    font-size: 35px;
    top: 20px;
    right: 20px;
  }
  #desc1,
  #desc2,
  #desc3 {
    display: none;
  }
  .modal::-webkit-scrollbar {
    width: 5px;
  }
  .modal::-webkit-scrollbar-thumb {
    background-color: rgba(140, 32, 133, 0.9);
    border-radius: 5px;
  }

  .modal::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
  }
  .onPhoto {
    display: block;
    font-size: 8vw;
    top:45px;
  }
  .work1 img,
  .work2 img,
  .work3 img {
    filter: brightness(0.5);
  }
  #githubLink {
    background-color: rgba(244, 127, 203, 0.6);
    border-radius: 20px;
    padding: 10px;
    text-align: center;
  }
}
