.skills {
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: auto;
  color: white;
  position: relative;
}
.background_for_skills {
  font-size: 9vw;
  position: relative;
  text-align: center;
  padding: 2% 0;
  z-index: 1;
  transform: translateY(-10%);
}
.skills::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
  backdrop-filter: blur(3px);
}
.skills .skillsHeader {
  font-size: 5vw;
  position: relative;
  text-align: center;
  bottom: 20vh;
  z-index: 3;
}